.mapContainer {
  display: flex;
  flex-direction: column;
 
  width: 100%;
  padding-top: 8%;
}

.mapAndRoomListContainer {
  display: flex;
  flex: 1;
}

.map {
  flex: 3;
  border-radius: 20px;
}

.roomList {
  flex: 1;
  overflow-y: auto;
  padding: 20px;
  background-color: #3f81c4;
  border-radius: 20px;
  text-align: center;
}

.roomList h2 {
  margin-top: 0;
}

.room {
  background: linear-gradient(145deg, #f5f4f7, #c0b7b7);
  margin: 10px 0;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: background 0.3s ease;
}

.room:hover {
  background: linear-gradient(145deg, #e6f0ff, #cce0ff);
}

.searchAndFilterContainer {
  display: flex;
  align-items: center;
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
}

.searchContainer {
  display: flex;
  align-items: center;
}

.searchContainer input {
  width: 250px;
  padding: 10px;
  font-size: 16px;
}

.searchContainer button {
  padding: 10px 20px;
  font-size: 16px;
  margin-right: 20px; /* Add margin to the right side */
}

.filterContainer {
  margin-left: 0; /* Reset margin to align with the search container */
}

.filterContainer select {
  padding: 15px 25px; /* Increased padding for the button */
  font-size: 16px;
}

